<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="PlaceholderSoftware.Eo1"
    Version="0.4.1.0"
    Publisher="CN=[Placeholder] Software" />

  <mp:PhoneIdentity PhoneProductId="598ff490-5ace-4855-abd4-97ff16d90b12" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Ensemble of One</DisplayName>
    <PublisherDisplayName>[Placeholder] Software</PublisherDisplayName>
    <Logo>img\packaging\logo_store.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10069.0" MaxVersionTested="10.0.10166.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application
      Id="App"
      StartPage="default.html">

      <uap:VisualElements
        DisplayName="Ensemble of One"
        Description="A no-nonsense, desktop-grade video editor built for Windows universal devices."
        BackgroundColor="#dc143c"
        Square150x150Logo="img\packaging\logo_sq150.png"
        Square44x44Logo="img\packaging\logo_sq44.png">

        <uap:SplashScreen Image="img\packaging\splashScreen.png" />

        <uap:DefaultTile
          ShortName="Eo1">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>

      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="eo1-project">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/xml">.eo1</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Ensemble of One Project</uap:DisplayName>
            <uap:Logo>img\packaging\logo_sq150.png</uap:Logo>
            <uap:InfoTip>An Ensemble of One video project</uap:InfoTip>
            <uap:EditFlags OpenIsSafe="true"/>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <uap:Capability Name="videosLibrary"/>
    <uap:Capability Name="musicLibrary"/>
    <uap:Capability Name="picturesLibrary"/>
  </Capabilities>

</Package>
