.app-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.app-page--loading {
    background-image: url('/img/tiny_grid.png');
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.app-page--editor {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.app-page--media-browser {
    width: 600px;
    max-width: 100%;
}

.app-page--enter-right {
    animation: pageEnterForward 0.4s ease;
    pointer-events: all;
}

@keyframes pageEnterForward {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.app-page--exit-right {
    left: 100%;
    animation: pageExitBackward 0.4s ease;
    pointer-events: all;
}
@keyframes pageExitBackward {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


.app-page--hidden {
    display: none;
}