.app-page, .loading-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loading-page {
    background-image: url('/img/tiny_grid.png');
}

.loading-page--editor {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.app-page--editor {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.app-page--enter-right {
    animation: pageEnterForward 0.4s ease;
    pointer-events: all;
}

@keyframes pageEnterForward {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.loading-page--hidden, .app-page--hidden {
    display: none;
}