.app-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.app-page--loading {
    background-image: url('/img/tiny_grid.png');
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.ensemble-clickeater {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ensemble-clickeater--ew-cursor {
    z-index: 99;
    cursor: ew-resize;
}

.ensemble-clickeater--active {
    display: block;
}

.app-page--editor {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.app-page--editor-menu {
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    border-right: 1px solid #aaa;
    box-shadow: 5px 0px 10px 0px rgba(50,50,50,0.5);
}

.app-page--media-browser {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 600px;
    max-width: 100%;
    box-shadow: 5px 0px 10px 0px rgba(50,50,50,0.5);
}

.app-page--enter {
    animation: pageEnterForward 0.2s ease;
    pointer-events: all;
}

@keyframes pageEnterForward {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.app-page--enter-left {
    animation: pageEnterFromLeft 0.3s ease;
}

@keyframes pageEnterFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.app-page--exit {
    animation: pageExitBackward 0.2s ease;
    pointer-events: all;
}
@keyframes pageExitBackward {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}

.app-page--exit-left {
    animation: pageExitToLeft 0.3s ease;
    transform: translateX(-100%);
}

@keyframes pageExitToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.app-page--hidden {
    display: none;
}

.app-page__inner {
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.app-page__inner--editor-menu {
    background: #fff;
}

.app-page__inner--media-browser {
    
}

.app-page--app-settings {
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}

.app-page__inner--app-settings {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 100;
    display: flex;
}

.app-page--settings-enter {
    animation: settingsEnter 0.2s ease;
    z-index: 100;
}

@keyframes settingsEnter {
    0% {
        transform: scale(0.9);
        z-index: 100;
        opacity: 0;
    }
    100% {
        transform: scale(1);
        z-index: 100;
        opacity: 1;
    }
}

.app-page--settings-exit {
    animation: settingsExit 0.2s ease;
    z-index: 100;
    opacity: 0;
}

@keyframes settingsExit {
    0% {
        transform: scale(1);
        z-index: 100;
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        z-index: 100;
        opacity: 0;
    }
}

.contextmenu-position-helper {
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    width: 0;
    height: 0;
}