#splashScreen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #FFFDD0;*/
    /*background-image:
        repeating-linear-gradient(-45deg, transparent, rgb(240,240,240) 5px,
            rgb(220,220,220) 5px, transparent, transparent 10px),
        repeating-linear-gradient(45deg, transparent, rgb(240,240,240) 5px,
            rgb(220,220,220) 5px, transparent, transparent 10px);*/
    background-image: radial-gradient(circle farthest-corner at center bottom, #FFFFFF 0%, #D8D8D8 100%);
}

.pageContainer {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	perspective: 1050px;
	-webkit-perspective: 1050px;
}

.mainMenuParallaxToLeft #newProjectDialog {
	transform: translateX(-60px);
	-webkit-transform: translateX(-60px);
}

.mainMenuParallaxToLeft #mainMenuHeader, .mainMenuParallaxToLeft #mainMenuFooter {
	transform: translateX(-50px);
	-webkit-transform: translateX(-50px);
}

.mainMenuParallaxToLeft .mainMenuPhotoButtonContainer {
	transform: translateX(-25px);
	-webkit-transform: translateX(-25px);
}


.mainMenuParallaxToLeft .imgMainLogoContainer {
	transform: translateX(-18px);
	-webkit-transform: translateX(-18px);
}

.mainMenuParallaxToRight #openProjectDialog {
	transform: translateX(60px);
	-webkit-transform: translateX(60px);
}

.mainMenuParallaxToRight #mainMenuHeader, .mainMenuParallaxToRight #mainMenuFooter {
	transform: translateX(50px);
	-webkit-transform: translateX(50px);
}

.mainMenuParallaxToRight .mainMenuPhotoButtonContainer {
	transform: translateX(25px);
	-webkit-transform: translateX(25px);
}

.mainMenuParallaxToRight .imgMainLogoContainer {
	transform: translateX(18px);
	-webkit-transform: translateX(18px);
}

.parallaxCapable {
	transition: transform 0.4s ease-in-out;
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
}

.mainMenuPhotoButtonContainer {
	flex: 3;
	display: flex;
	justify-content: center;
}

.imgMainLogoContainer {
	flex: 4;
}

#imgMainLogo {
	/*max-width: 75%;*/
	/*background: radial-gradient(rgba(255,255,255,0.5), rgba(211,211,211,0) 75%);*/
}

/*.pageContainerHidden {
	transform: scale(0.75);
	-webkit-transform: scale(0.75);
    opacity: 0;

	animation: pageContainerExitScale 0.3s ease-in-out;
	-webkit-animation: pageContainerExitScale 0.3s ease-in-out;
}

@keyframes pageContainerExitScale {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0.75);
		opacity: 0;
	}
}

@-webkit-keyframes pageContainerExitScale {
	0% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0.75);
	}
}*/

#menuPageMain {
	display: flex;
	flex-direction: column;
}

#menuPageMainContent {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	/*background-color: rgb(245,245,245);
	background-image: linear-gradient(to bottom, rgb(255,255,255) 0%, rgb(225,225,225) 100%);*/
}

#mainMenuControls {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#mainMenuFooter, #mainMenuHeader {
	height: 100px;
	display: flex;
	justify-content: center;
}

#mainMenuHeader {
	align-items: flex-start;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	perspective: 150px;
	-webkit-perspective: 150px;
}

#tickerTicket {
	visibility: hidden;
	width: 150px;
	height: 75px;
	display: flex;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: black;
	border-left: 5px dotted white;
	border-right: 5px dotted white;
	border-bottom: 5px dotted white;
	transform-origin: top center;
	-webkit-transform-origin: top center;
}

.tickerDepressed {
	transform: rotateX(-15deg) !important;
	-webkit-transform: rotateX(-15deg) !important;
	animation: tickerDepress 0.1s ease-in-out !important;
	-webkit-animation: tickerDepress 0.1s ease-in-out !important;
}

@keyframes tickerDepress {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(-15deg);
	}
}

@-webkit-keyframes tickerDepress {
	0% {
		-webkit-transform: rotateX(0deg);
	}
	100% {
		-webkit-transform: rotateX(-15deg);
	}
}

.tickerReleased {
	transform: rotateX(0deg) !important;
	-webkit-transform: rotateX(0deg) !important;
	animation: tickerRelease 1s ease-in-out !important;
	-webkit-animation: tickerRelease 1s ease-in-out !important;
}

@keyframes tickerRelease {
	0% {
		transform: rotateX(-15deg);
	}
	33% {
		transform: rotateX(10deg);
	}
	66% {
		transform: rotateX(-5deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}

@-webkit-keyframes tickerRelease {
	0% {
		-webkit-transform: rotateX(-15deg);
	}
	33% {
		-webkit-transform: rotateX(10deg);
	}
	66% {
		-webkit-transform: rotateX(-5deg);
	}
	100% {
		-webkit-transform: rotateX(0deg);
	}
}

.tickerHovering {
	border-left: 6px dotted white !important;
	border-right: 6px dotted white !important;
	border-bottom: 6px dotted white !important;
}

#tickerText {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 200px;
	border: 1px solid black;
	font-family: Verdana, Geneva, sans-serif;
	font-size: large;
	cursor: default;
	
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-image: radial-gradient(ellipse farthest-corner at center, #98FB98 0%, #98FB98 100%);;
	transition: background-image 0.1s ease-in-out;
	-webkit-transition: background-image 0.1s ease-in-out;
}



.tickerSpacer {
	flex: 1;
}

.tickerButtonVisible {
	animation: mainMenuTickerEnter 0.5s ease-in-out;
	-webkit-animation: mainMenuTickerEnter 0.5s ease-in-out;
	visibility: visible !important;
}

@keyframes mainMenuTickerEnter {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes mainMenuTickerEnter {
	0% {
		-webkit-transform: translateY(-100%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

#settingsButton{
	visibility: hidden;
	color: white;
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: default;
}

#settingsButton #clapper {
	height: 40px;
	width: 100%;
}

#clapper .clapperPiece {
	height: 50%;
	width: 100%;
	background-color: white;
}

#clapper #clapperTop {
	background-image: url("/img/stripes_reverse.png");
}

#clapper #clapperBottom {
	background-image: url("/img/stripes.png");
}

#settingsButton #settingsIcon {
	color: white;
	background-color: black;
	width: 100%;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

#menuPageMainContentButtonContainer {
	flex: 1;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.mainMenuButtonFlexbox {
	flex: 1;
	text-align: center;
	display: flex;
	justify-content: center;
}

.mainMenuPhotoButton {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	visibility: hidden;
	border: 2px solid black;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	width: 90px;
	height: 90px;
	background-color: white;
	font-family: sans-serif;
	cursor: default;
	transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
	-webkit-transition: -webkit-transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
	
	
	display: flex;
	flex-direction: column;
}

.mainMenuButtonIcon {
	text-align: center;
	flex: 1;
	color: black;
	background-color: rgb(220,220,220);
	border: 2px solid black;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.mainMenuPhotoButtonClicking {
	transform: scale(0.9) translateZ(0);
	-webkit-transform: scale(0.9) translateZ(0);
	box-shadow: none !important;
}

.mainMenuPhotoButtonVisible {
	animation: mainMenuPhotoButtonEnter 0.65s ease-in-out;
	-webkit-animation: mainMenuPhotoButtonEnter 0.65s ease-in-out;
	visibility: visible !important;
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.25);
}

@keyframes mainMenuPhotoButtonEnter {
	0% {
		transform: scale(0) translateZ(0);
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25);
	}
	75% {
		transform: scale(1.15) translateZ(0);
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25);
	}
	100% {
		transform: scale(1) translateZ(0);
		box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.25);
	}
}

@-webkit-keyframes mainMenuPhotoButtonEnter {
	0% {
		-webkit-transform: scale(0) translateZ(0);
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25);
	}
	75% {
		-webkit-transform: scale(1.15) translateZ(0);
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25);
	}
	100% {
		-webkit-transform: scale(1) translateZ(0);
		box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.25);
	}
}

.settingsButtonVisible {
	animation: settingsButtonEnter 0.5s ease-in-out;
	-webkit-animation: settingsButtonEnter 0.5s ease-in-out;
	visibility: visible !important;	
}

@keyframes settingsButtonEnter {
	0% {
		transform: translateY(100%) translateZ(0);
	}
	65% {
		transform: translateY(-10%) translateZ(0);
	}
	100% {
		transform: translateY(0%) translateZ(0);
	}
}

@-webkit-keyframes settingsButtonEnter {
	0% {
		-webkit-transform: translateY(100%) translateZ(0);
	}
	65% {
		-webkit-transform: translateY(-10%) translateZ(0);
	}
	100% {
		-webkit-transform: translateY(0%) translateZ(0);
	}
}

.settingsButtonVisible #clapperTop {
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	transform-origin: left bottom;
	-webkit-transform-origin: left bottom;
	animation: clapperTopWobble 0.75s ease-in-out;
	-webkit-animation: clapperTopWobble 0.75s ease-in-out;
}

@keyframes clapperTopWobble {
	0% {
		transform: rotate(0deg) translateZ(0);
	}
	50% {
		transform: rotate(-45deg) translateZ(0);
	}
	100% {
		transform: rotate(-30deg) translateZ(0);
	}
}

@-webkit-keyframes clapperTopWobble {
	0% {
		-webkit-transform: rotate(0deg) translateZ(0);
	}
	50% {
		-webkit-transform: rotate(-45deg) translateZ(0);
	}
	100% {
		-webkit-transform: rotate(-30deg) translateZ(0);
	}
}

.clapperClapping {
	animation: clapperSingleClap 0.1s ease-in !important;
	-webkit-animation: clapperSingleClap 0.1s ease-in !important;
	transform: rotate(0deg) !important;
	-webkit-transform: rotate(0deg) !important;
}

@keyframes clapperSingleClap {
	0% {
		transform: rotate(-30deg) translateZ(0);
	}
	100% {
		transform: rotate(0deg) translateZ(0);
	}
}

@-webkit-keyframes clapperSingleClap {
	0% {
		-webkit-transform: rotate(-30deg) translateZ(0);
	}
	100% {
		-webkit-transform: rotate(0deg) translateZ(0);
	}
}

.mainMenuDialog {
	transition: transform 0.4s ease-in-out;
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	box-shadow: 0px 0px 20px 20px rgba(0,0,0, 0.2);
	width: 600px;
	max-width: 50%;
	background-color: black;
}

#newProjectDialog {
	position: absolute;
	left: -555px;
	top: 0px;
	height: 200%;
	display: flex;
}

.newProjectDialogHidden {
	transform: translateX(-100px) translateZ(0);
	-webkit-transform: translateX(-100px) translateZ(0);
}

#newProjectDialogContent {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.mainMenuFilmReelButton {
	cursor: default;
	border: 2px solid black;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.mainMenuFilmReelButton:hover {
	background-color: rgb(240,240,240);
}

.mainMenuFilmReelButton:active {
	background-color: black;
	color: white;
}

.ensembleButton, .ensembleButtonDanger {
    color: white !important;
    border-radius: 4px !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) !important;
}

.ensembleButtonDefault {
    background: rgb(66, 184, 221) !important; 
}

.ensembleButtonClear {
    background: lightgray !important;
    color: black !important
}

.ensembleButtonDanger {
    background: rgb(202, 60, 60) !important; 
}

.openProjectDialogContent {
	flex: 1;
	display: flex;
	flex-direction: column;
}

#menuOpenProjectDialogContentFull {
    display: none;
    background-color: white;
    justify-content: center;
    align-items: center;
}

#openProjectDialogList {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#openProjectDialogControls {
    display: flex;
    padding: 10px;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
}

.openProjectDialogControlsVisible {
    transform: translateY(0%) !important;
    -webkit-transform: translateY(0%) !important;
    animation: openProjectDialogControlsEnter 0.4s ease-in-out;
    -webkit-animation: openProjectDialogControlsEnter 0.4s ease-in-out;
}

@keyframes openProjectDialogControlsEnter {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes openProjectDialogControlsEnter {
    0% {
        -webkit-transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

.openProjectDialogControlsVisible .animGroup2 {
    transform: translateY(0%) !important;
    -webkit-transform: translateY(0%) !important;
    animation: openProjectDialogControlsGroup2Enter 0.4s ease-in-out;
    -webkit-animation: openProjectDialogControlsGroup2Enter 0.4s ease-in-out;
}

@keyframes openProjectDialogControlsGroup2Enter {
    0% {
        transform: translateY(25%);
    }
    50% {
        transform: translateY(25%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes openProjectDialogControlsGroup2Enter {
    0% {
        -webkit-transform: translateY(25%);
    }
    50% {
        -webkit-transform: translateY(25%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

.openProjectDialogControlsVisible .animGroup3 {
    transform: translateY(0%) !important;
    -webkit-transform: translateY(0%) !important;
    animation: openProjectDialogControlsGroup2Enter 0.4s ease-in-out;
    -webkit-animation: openProjectDialogControlsGroup2Enter 0.4s ease-in-out;
}

@keyframes openProjectDialogControlsGroup3Enter {
    0% {
        transform: translateY(50%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes openProjectDialogControlsGroup2Enter {
    0% {
        -webkit-transform: translateY(50%);
    }
    50% {
        -webkit-transform: translateY(50%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

.openProjectDialogControlsHidden {
    transform: translateY(100%) !important;
    -webkit-transform: translateY(100%) !important;
    animation: openProjectDialogControlsExit 0.2s ease-in-out;
    -webkit-animation: openProjectDialogControlsExit 0.2s ease-in-out;
}

@keyframes openProjectDialogControlsExit {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}

@-webkit-keyframes openProjectDialogControlsExit {
    0% {
        -webkit-transform: translateY(0%);
    }
    100% {
        -webkit-transform: translateY(100%);
    }
}

#openProjectDialogControls .mainMenuFilmReelButton, .mainMenuZoomDialogContent .mainMenuFilmReelButton {
    margin-left: 10px;
    margin-right: 10px;
}

.filmReelFrame {
	background-color: white;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	font-family: sans-serif;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.filmReelBorder {
	background: linear-gradient(white 60%, black 60%);
	border-left: 10px solid black;
	border-right: 10px solid black;
	background-size: 5px 44px;
	width: 25px;
	height: 100%;
}

.newProjectDialogVisible {
	transform: translateX(550px) translateZ(0);
	-webkit-transform: translateX(550px) translateZ(0);
}

.newProjectLoading {
	transition: transform 0.6s ease-in-out;
	-webkit-transition: -webkit-transform 0.6s ease-in-out;
	transform: translate(550px, -50%) translateZ(0);
	-webkit-transform: translate(550px, -50%) translateZ(0);
}

#openProjectDialog {
	position: absolute;
	right: -555px;
	top: 0px;
	height: 100%;
	display: flex;
}

.openProjectDialogHidden {
	transform: translateX(100px) translateZ(0);
	-webkit-transform: translateX(100px) translateZ(0);
}

.openProjectDialogVisible {
	transform: translateX(-550px) translateZ(0);
	-webkit-transform: translateX(-550px) translateZ(0);
}

.projectListItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75px;
    margin-bottom: 10px;
    border: 2px solid transparent;
}

.projectListItemSelected {
    border: 2px solid lightgray !important;
}

.projectListItemImgContainer {
    height: 100%;
    width: 180px;
    text-align: center;
    background-color: black;
    margin-right: 5px;
}

.projectListItemImg {
    height: 100%;
    background-color: black;
}

.projectListItemMeta {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectListItemSubMeta {
    flex: 1;
    width: 100%;
}

.projectListItemTitle {
    color: blue;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    font-size: x-large;
}

.projectListItemDetails {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.projectListItemDetailsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projectListItemDetailsRowItem {
    flex: 1;
}

.mainMenuClickEater {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
    opacity: 0;
	pointer-events: none;
	transition: opacity 0.6s ease-in-out;
}

.mainMenuClickEaterVisible {
	pointer-events: all;
	opacity: 0.5;
}

.mainMenuZoomDialog {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
    display: none;

	justify-content: center;
	align-items: center;
}

.mainMenuZoomDialogContent {
    background: rgba(255,255,255,0.9);
    border-radius: 10px;
    border: 2px solid gray;
    padding: 50px;
}

.mainMenuFilmReelButtonContainerHorizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainMenuZoomDialogVisible {
    animation: mainMenuZoomDialogEnter 0.4s ease-in-out;
    -webkit-animation: mainMenuZoomDialogEnter 0.4s ease-in-out;
    transform: scale(1);
    -webkit-transform: scale(1);
    display: flex;
}

@keyframes mainMenuZoomDialogEnter {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.05);
    }

    75% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes mainMenuZoomDialogEnter {
    0% {
        -webkit-transform: scale(0);
    }

    80% {
        -webkit-transform: scale(1.1);
    }

    90% {
        -webkit-transform: scale(0.95);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

.mainMenuZoomDialogHidden {
    animation: mainMenuZoomDialogExit 0.4s ease-in-out;
    -webkit-animation: mainMenuZoomDialogExit 0.4s ease-in-out;
    display: flex;
    pointer-events: none;
    transform: scale(0);
    -webkit-transform: scale(0);
}

@keyframes mainMenuZoomDialogExit {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(0);
    }
}

@-webkit-keyframes mainMenuZoomDialogExit {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(0);
    }
}

.mainMenuFlipDialog {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: -100;
	visibility: hidden;
	
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 1050px;
}

.mainMenuDialogContent {
    opacity: 0;
}

.tickerDialogVisible, .settingsDialogVisible {
	z-index: auto;
	visibility: visible;
}

.tickerDialogVisible #tickerDialogContainer {
	animation: tickerDialogEnter 0.3s ease-in-out;
	-webkit-animation: tickerDialogEnter 0.3s ease-in-out;
}

@keyframes tickerDialogEnter {
	0% {
		transform: rotateX(90deg) scale(0.75) translateZ(0);
	}
	100% {
		transform: rotateX(0deg) scale(1) translateZ(0);
	}
}

@-webkit-keyframes tickerDialogEnter {
	0% {
		-webkit-transform: rotateX(90deg) scale(0.75) translateZ(0);
	}
	100% {
		-webkit-transform: rotateX(0deg) scale(1) translateZ(0);
	}
}

.tickerDialogHidden {
	animation: tickerDialogExit 0.3s ease-in-out;
	-webkit-animation: tickerDialogExit 0.3s ease-in-out;
	transform: rotateX(90deg) scale(0.75) translateZ(0);
	-webkit-transform: rotateX(90deg) scale(0.75) translateZ(0);
}

@keyframes tickerDialogExit {
	0% {
		transform: rotateX(0deg) scale(1) translateZ(0);
		visibility: visible;
		z-index: auto;
	}
	100% {
		transform: rotateX(90deg) scale(0.75) translateZ(0);
		visibility: visible;
		z-index: auto;
	}
}

@-webkit-keyframes tickerDialogExit {
	0% {
		-webkit-transform: rotateX(0deg) scale(1) translateZ(0);
		visibility: visible;
		z-index: auto;
	}
	100% {
		-webkit-transform: rotateX(90deg) scale(0.75) translateZ(0);
		visibility: visible;
		z-index: auto;
	}
}

#tickerDialogContainer, #settingsDialogContainer {
	max-width: 50%;
	border: 2px solid gray;
	border-radius: 5px;
	box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.25);
	background-color: rgba(255,255,255,0.85);
	font-family: sans-serif;
	font-size: x-large;
	padding: 10px;
	overflow-y: visible;
	pointer-events: all;
	max-height: 75%;
	padding: 50px;
}

.settingsDialogVisible #settingsDialogContainer {
	animation: settingsDialogEnter 0.3s ease-in-out;
	-webkit-animation: settingsDialogEnter 0.3s ease-in-out;
}

@keyframes settingsDialogEnter {
	0% {
		transform: rotateX(-90deg) scale(0.75) translateZ(0);
	}
	100% {
		transform: rotateX(0deg) scale(1) translateZ(0);
	}
}

@-webkit-keyframes settingsDialogEnter {
	0% {
		-webkit-transform: rotateX(-90deg) scale(0.75) translateZ(0);
	}
	100% {
		-webkit-transform: rotateX(0deg) scale(1) translateZ(0);
	}
}

.settingsDialogHidden {
	animation: settingsDialogExit 0.3s ease-in-out;
	-webkit-animation: settingsDialogExit 0.3s ease-in-out;
	transform: rotateX(90deg) scale(0.75) translateZ(0);
	-webkit-transform: rotateX(90deg) scale(0.75) translateZ(0);
}

@keyframes settingsDialogExit {
	0% {
		transform: rotateX(0deg) scale(1) translateZ(0);
		visibility: visible;
		z-index: auto;
	}
	100% {
		transform: rotateX(-90deg) scale(0.75) translateZ(0);
		visibility: visible;
		z-index: auto;
	}
}

@-webkit-keyframes settingsDialogExit {
	0% {
		-webkit-transform: rotateX(0deg) scale(1) translateZ(0);
		visibility: visible;
		z-index: auto;
	}
	100% {
		-webkit-transform: rotateX(-90deg) scale(0.75) translateZ(0);
		visibility: visible;
		z-index: auto;
	}
}

.pageContainer.loadingPage {
    visibility: hidden;
    background-image: radial-gradient(circle farthest-corner at center, #FFFFFF 0%, #C0C0C0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-fill-mode: both;
}

.loadingPageMessage {
    max-width: 50%;
}

.loadingPage progress {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loadingPageVisible {
    visibility: visible !important;
    animation: loadingPageEnter 0.5s ease-in-out;
}

@keyframes loadingPageEnter {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.loadingPageHidden {
    visibility: visible !important;
    animation: loadingPageExit 0.5s ease-in-out;
    transform: translateY(-100%);
}

@keyframes loadingPageExit {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}