.editor-menubar {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #dc143c;
    box-sizing: border-box;
}

.editor-menu-titlebar {
    height: 45px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    background-color: #dc143c;
}

.editor-menu-titlebar--tab-list {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.editor-menubar__tab-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.editor-menubar__tab {
    height: 40px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    font-size: 18px;
    padding: 0 15px;
    color: #fafafa;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 5px 0 0 5px;
}

.editor-menubar__tab:hover {
    background-color: #ff5a76;
}

.editor-menubar__tab:active {
    background-color: #e6e6e6;
    color: #dc143c;
}

.editor-menubar__tab:last-child {
}

.editor-menubar__tab--active {
    background-color: #e6e6e6;
    color: #dc143c;
}

.editor-menubar__tab--active:hover {
    background-color: #e6e6e6;
    color: #dc143c;
}

.editor-menubar__tab--file {
}

.editor-menubar__toolbar {
    border-bottom: 1px solid #aaa;
    margin-top: -1px;
    display: none;
}

.editor-menubar__toolbar .win-toolbar-actionarea {
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.editor-toolbar--visible {
    display: block;
    visibility: visible;
}

.editor-toolbar--hidden {
    display: block;
    position: absolute;
    visibility: hidden;
}

.editor-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 616px;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    background-color: #fafafa;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    overflow-y: auto;
    z-index: 100;
}

.editor-menu--visible {
    transform: translateX(0);
}

.editor-menu--file {
    height: 100%;
}

.editor-menu--import {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.editor-command--disabled {
    pointer-events: none;
    touch-action: none;
    color: #999;
    border-color: #d3d3d3
}

.editor-menubar__tab--file {
    font-family: "Segoe MDL2 Assets", "Symbols";
}

.editor-menu__divider {
    margin: 10px 0;
    border-top: 5px solid #d3d3d3;
}

/* HOME MENU */


.editor-menu-section {
    padding: 10px;
    box-sizing: border-box;
}

.editor-project-details {
    margin-bottom: 10px;
}

.editor-project-details__column {
    flex: 1;
    padding-right: 10px;
}

/* IMPORT MENU */
.mediaBrowserHeaderContainer {
    display: flex;
    justify-content: center;
    height: 45px;
    background-color: #dc143c;
    color: #fff;
}

#editorMenuMediaBrowserFileList {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    background: #fafafa;
}

#editorMediaBrowserLocationButtonContainer {
    display: inline-block;
    font-size: large;
    line-height: 41px;
    height: 41px;
    vertical-align: top;
    margin: 0 0 0 10px;
}

#editorMediaBrowserLocationButton {

    transition: transform 0.1s ease-in-out;
}

#editorMediaBrowserLocationButton:active {
    transform: scale(0.95);
}

#editorMediaBrowserCurrentPathContainer {
    flex: 1;
    margin: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: large;
    line-height: 41px;
    height: 41px;
}

#editorMediaBrowserFolderControlContainer {
    display: flex;
    line-height: 45px;
    margin-right: 10px;
}

.editor-titlebar-control {
    padding: 0 15px;
    margin: 0;
    color: #fff;
    height: 100%;
    line-height: 45px;
    display: inline-block;
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    font-family: "Segoe MDL2 Assets";
    font-size: 18px;
}

.editor-titlebar-control:hover {
    background-color: #ff5a76;
}

.editor-titlebar-control:active {
    background-color: #fff;
    color: #dc143c;
}

.editor-titlebar-control:disabled {
    color: #d3d3d3;
    pointer-events: none;
}

.editor-titlebar-control--hidden {
    display: none;
}

.editor-titlebar-control.app-trigger--settings {
    float: right;
}

.editor-titlebar-control--inverted {
    color: black;
}

.editor-titlebar-control--inverted:hover {
    color: #fff;
    background-color: #ff5a76;
}

.editor-titlebar-control--inverted:active {
    color: #fff;
    background-color: #dc143c;
}

#editorMediaBrowserLoadingProgress {
    margin-right: 5px;
    display: none;
    height: 45px;
    box-sizing: border-box;
    padding: 10px 0;
    color: #fff;
}

.media-browser__list-item {
    padding: 2px;
    display: flex;
    flex-direction: row;
    height: 50px;
}

.media-browser__list-item:hover {
    background-color: rgb(240,240,240);
}

.media-browser__list-itemIcon {
    /* Styling here for the icon column. */
    font-size: xx-large;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: 50px;
    color: rgba(0,0,0,0.2);
    background-size: 100% auto;
}

.mediaBrowserIconFilled {
    color: rgba(255,255,255,0.8);
    text-shadow: 0px 0px 10px black;
}

.media-browser__list-itemMeta {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.media-browser-item__row {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.media-browser-item__title {
    font-size: large;
    overflow: hidden;

}

.media-browser-item__rowComponent {
    flex: 1;
}

.media-browser__list-itemControls {
    display: none;
}

.media-browser__list-item--file:hover .media-browser__list-itemControls {
    display: block;
}

.media-browser__list-item--file:hover .media-browser__list-itemDetails {
    display: none;
}

.media-browser-item__control {
    box-sizing: border-box;
    border: 1px solid transparent;
    font-size: 18px;
    padding: 0 10px;
}

.media-browser-item__control:hover {
    border: 1px dotted black;
}