#timeline-track-container {
    flex: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
    margin: 0 10px;
}

.timeline-track--controls, .timeline-track--content {
    box-sizing: border-box;
}

.timeline-track-widget-container {
    white-space: nowrap;
    overflow: hidden;
}

.timeline-track-widget-container {
    width: 150px;
}

.timeline-track--controls {
    display: flex;
    flex-direction: row;
    border: 1px solid #aaa;
    border-right: 0;
    border-bottom: 0;
}

.timeline-track--controls:last-of-type {
    border-bottom: 1px solid #aaa;
    height: 51px;
}

.timeline-track-container-wrap {
    flex: 1;
    overflow-x: scroll;
    overflow-y: scroll;
    position: relative;
    border: 1px solid #aaa;
    border-radius: 3px;
}

#timeline-track-container .timeline-track--content {
    box-sizing: border-box;
    white-space: nowrap;
    position: relative;
}