#editorPageContainer {
    display: flex;
    /*visibility: hidden;*/
    flex-direction: column;
    /*display: none;*/
}

#editorPageContainer #editorUpperHalf {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}

.editorUpperHalfVisible {
    animation: editorUpperHalfEnter 0.4s ease-in-out;
    -webkit-animation: editorUpperHalfEnter 0.4s ease-in-out;
    opacity: 1 !important;
    transform: translateY(0%) !important;
    -webkit-transform: translateY(0%) !important;
}

@keyframes editorUpperHalfEnter {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes editorUpperHalfEnter {
    0% {
        -webkit-transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

#editorPageContainer #editorCanvasContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#editorPageContainer #editorCanvasContainer #editorCanvasContent {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#editorCanvasContent #editorCanvas {
    width: 100%;
}

#editorPageContainer #editorCanvasContainer #editorPlayControls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#editorPlayControls .editorPlayControlSection {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.editorPlayControlSection .editorGeneralButton {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top: none;
}

.editorPlayControlSection #editorPlaypauseButton {
    font-size: 36px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0;
    padding-bottom: 0;
}

.editorPlayControlSection i:active {
    background-color: black;
    color: white;
}

#editorPlayControls #editorPlayControlsLeft {
    justify-content: flex-start;
}

#editorPlayControls #editorPlayControlsMain {
    justify-content: center;
    align-items: flex-start;
}

#editorPlayControls #editorPlayControlsRight {
    justify-content: flex-end;
}

#editorPageContainer #editorHorizontalDivider {
    height: 12px;
    width: 100%;
    background: linear-gradient(to right, white 60%, black 60%);
	background-size: 22px 2px;

    border-top: 5px solid black;
	border-bottom: 5px solid black;

    cursor: ns-resize;
}

#editorPageContainer .editorHorizontalDividerHidden {
    visibility: hidden;
}

#editorPageContainer .editorHorizontalDividerVisible {
    animation: editorDividerEnter 0.4s ease-in-out;
    -webkit-animation: editorDividerEnter 0.4s ease-in-out;
}

@keyframes editorDividerEnter {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.02);
    }
    75% {
        transform: scale(0.99);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes editorDividerEnter {
    0% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1.02);
    }
    75% {
        -webkit-transform: scale(0.99);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

#editorPageContainer #editorLowerHalf {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translateY(100%);
    -webkit-transform: translateY(100%);
}

.editorLowerHalfVisible {
    animation: editorLowerHalfEnter 0.4s ease-in-out;
    -webkit-animation: editorLowerHalfEnter 0.4s ease-in-out;
    opacity: 1 !important;
    transform: translateY(0%) !important;
    -webkit-transform: translateY(0%) !important;
}

@keyframes editorLowerHalfEnter {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes editorLowerHalfEnter {
    0% {
        -webkit-transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

#editorPageContainer #editorLowerHalf #editorTimelineRulerContainer {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

#editorPageContainer #editorLowerHalf #editorTimelineContainer {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 10;
}

#editorTimelineRulerContent {
    position: relative;
    border: 2px solid gray;
    border-bottom: none;
    flex: 1;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: white;
    overflow: hidden;
    white-space: nowrap;
}

#editorTimelineRulerContent .timeChunk {
    display: inline-block;
    box-sizing: border-box;
}

.timeChunk.timeChunkLarge {
    height: 25px;
    margin-top: 25px;
    line-height: 25px;
    border-right: 2px solid black;
}

.timeChunk.timeChunkSmall {
    height: 12px;
    margin-top: 12px;
    line-height: 12px;
    border-right: 2px solid gray;
}

#editorTimelineRulerContent .timeLabel {
    position: absolute;
    top: 0px;
    transform: translateX(-50%);
}

#editorPageContainer #editorLowerHalf #editorTimelineContainer .editorTimelineSideControls, .editorTimelineRulerButtonPlaceholder {
    width: 50px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.editorTimelineSideControls .spacer {
    flex: 1;
}

.editorGeneralButton {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    font-style: normal;
    font-size: 18px;
}

.editorTimelineSideControls i:active {
    background-color: black;
    color: white;
}

.timeline-scrollable-container {
    position: relative;
    top: 0px;
}

#timeline-track-container {
    flex: 1;
    height: 100%;
    border: 2px solid gray;
    border-radius: 2px;
    border-top-right-radius: 0px;
    /*background: linear-gradient(to bottom, rgb(255,255,255) 50%, rgb(240,240,240) 50%);*/
	/*background-size: 100px 50%;*/
    overflow: hidden;
    display: flex;
    background-position: 0px 0px, 8px 8px, 0px 1px, 8px 9px;
    background-image: radial-gradient(black 15%, transparent 16%), radial-gradient(black 15%, transparent 16%), radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%), radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%);
    /*background-image: url('../img/carbon_fibre_v2_@2X.png');*/
    background-attachment: scroll, scroll, scroll, scroll;
    background-repeat: repeat, repeat, repeat, repeat;
    background-size: 16px 16px;
    background-origin: padding-box, padding-box, padding-box, padding-box;
    background-clip: border-box, border-box, border-box, border-box;
    background-color: rgb(40, 40, 40);
}

#editorTimelineHeaders, #editorTimelineHeaderPlaceholder {
    width: 50px;
}

.timeline-track--header, .timeline-track--controls, .timeline-track--content {
    box-sizing: border-box;
}

.timeline-track--header {
    display: flex;
    flex-direction: column;
    cursor: default;
}

.timeline-track--header .trackNum, .timeline-track--header .trackEditButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-left: none;
    font-weight: bold;
    font-size: 1.25em;
}

.timeline-track--header .trackNum {
}

.timeline-track--header .trackEditButton {
    border-top: none;
}

.timeline-track--header .trackEditButton:active {
    color: white;
    background-color: black;
}

#editorTimelineDetails, #editorTimelineDetailsPlaceholder {
    width: 0px;
    white-space: nowrap;
    overflow: hidden;
}

#editorTimelineDetails.detailsExpanded, #editorTimelineDetailsPlaceholder.detailsExpanded, .timelineDetailRow.timelineDetailControls {
    width: 150px;
}

.timeline-track--controls {
    display: flex;
    flex-direction: column;
}

.timeline-track--controls .timelineDetailRow {
    flex: 1;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-left: none;
}

.timelineDetailRow.timelineDetailName {
    font-weight: bold;
    border-bottom: none;
    overflow-x: hidden;
}

.timelineDetailRow.timelineDetailControls {
    justify-content: center;
    border-top: none;
    display: flex;
}

.timelineControl {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.timelineControl:active {
    color: white;
    background-color: black;
}

.timeline-track-container-wrap {
    flex: 1;
    overflow-x: scroll;
    overflow-y: hidden;
}

/*#editorTimelineTracks {
    overflow-x: scroll;
    overflow-y: hidden;
}*/

.timeline-track {
    background-color: #FFFFFF;
    transition: background-color 0.4s ease;
}

.timeline-track:nth-child(even) {
    background-color: #F0F0F0;
}

#timeline-track-container .timeline-track--content {
    box-sizing: border-box;
    white-space: nowrap;
}

#editorPageContainer #editorMenuButton, .editorMenuButtonPlaceholder {
    padding: 20px;
}

#editorMenuButtons {
    position: fixed;
    top: 0px;
    left: 0px;
}

#editorDraggedPreviewContainer {
    /*visibility: hidden;*/
    position: fixed;
    left: 0px;
    top: 0px;
    margin-top: -100px;
    margin-left: -100px;
    pointer-events: none;
}

#editorDraggedPreviewContent {
    width: 200px;
    height: 200px;
    background-color: rgba(200,200,200, 0.8);
    opacity: 0;
}

.editorDraggedPreviewVisible {
    /*visibility: visible !important;*/
}

.editorDraggedPreviewVisible #editorDraggedPreviewContent {
    opacity: 1;
    animation: editorDragPreviewEnter 0.2s ease-in-out;
}

@keyframes editorDragPreviewEnter {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

editorDraggedPreviewHidden {
    /*visibility: visible !important;*/
}

.editorDraggedPreviewHidden #editorDraggedPreviewContent {
    animation: editorDragPreviewExit 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes editorDragPreviewExit {
    0% {
        /*visibility: visible !important;*/
        transform: scale(1);
        opacity: 1;
    }
    100% {
        /*visibility: visible !important;*/
        transform: scale(0);
        opacity: 0;
    }
}

#mediaBrowserPreviewDialog {
    pointer-events: none;
}

#mediaBrowserPreviewDialog .mainMenuZoomDialogContent {
    max-width: 100%;
    max-height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.mediaBrowserPreviewItem {
    display: none;
    pointer-events: all;
}

.mediaBrowserPreviewItem video, .mediaBrowserPreviewItem img, .mediaBrowserPreviewItem audio {
    background-color: black;
    width: 100%;
    border-radius: 5px;
}

.mediaBrowserPreviewItem .previewItemControls {
    text-align: center;
}

.mediaBrowserPreviewItem .previewItemControlsInnerCenter {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: darkgray;
    pointer-events: all;
}

#mediaBrowserPreviewVideo {
}

#mediaBrowserPreviewAudio {
}

#mediaBrowserPreviewPicture {
}

#editorPageContainer #editorMenuButton {
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid lightgray;
}

#editorPageContainer .editorMenuToggle {
    background-color: rgba(240,240,240, 1);
    border-right: 1px solid lightgray;
    padding: 10px;

    transition: background-color 0.4s ease-in-out;
    -webkit-transition: background-color 0.4s ease-in-out;
}

#editorPageContainer .editorMenuToggle:hover {
    background-color: rgba(255,255,255, 1);
    transition: none;
    -webkit-transition: none;
}

#editorPageContainer .editorMenuToggle:active {
    background-color: rgba(0,0,0, 1);
    color: white;
    transition: none;
    -webkit-transition: none;
}

#editorPageContainer .editorMenuToggleFocused {
    background-color: white;
}

.editorMenuButtonPlaceholder {
    visibility: hidden;
}

#editorEffectsButton {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-bottom-right-radius: 10px;
}

#editorPageContainer #editorMenuDialog {
    position: fixed;
    left: 0px;
    top: 0px;
    /*visibility: hidden;*/
    /*opacity: 0;*/
    overflow-x: hidden;
    width: 662px;
    height: 100%;
    max-width: 100%;

    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,1);
    border-right: 2px solid gray;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    transform: translateX(-100%);
}

.editorMenuDialogVisible {
    transform: translateX(0%) !important;
    animation: editorMenuDialogEnter 0.3s ease-in-out;
}

@keyframes editorMenuDialogEnter {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.editorMenuDialogHidden {
    transform: translateX(-100%);
    animation: editorMenuDialogExit 0.3s ease-in-out;
}

@keyframes editorMenuDialogExit {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#editorActionMenu {
}

#editorMediaMenu {
}

#editorEffectsMenu {
}

.editorSubMenu {
    display: none;
    width: 100%;
    opacity: 0;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.editorMenuDialogTabs {
    /* No flex - just enough to hold the text headings. */
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.editorMenuDialogTabs .editorMenuTabHeader {
    text-align: center;
    height: 100%;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 10px;
    border: 1px solid transparent;
    color: darkgray;
}

.editorMenuDialogTabs .editorMenuTabFocused {
    background-color: rgb(240,240,240);
    pointer-events: none;
    border: 1px solid lightgray;
    color: black;
}

.editorMenuDialogTabs .editorMenuTabBlurred {
    background-color: white;
}

.editorMenuDialogTabs .editorMenuTabBlurred:hover {
    background-color: rgb(240,240,240);
    color: black;
}

.editorMenuDialogTabs .editorMenuTabBlurred:active {
    color: white;
    background-color: black;
}

.editorMenuDialogTabs .editorMenuLeftAdjacentTab {
    /*border-bottom-right-radius: 10px;*/
}

.editorMenuDialogTabs .editorMenuRightAdjacentTab {
    /*border-bottom-left-radius: 10px;*/
}

#editorMenuDialog .editorMenuDialogContent {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    overflow-y: hidden;
}

.editorMenuDialogContent .editorMenuContentItem {
    width: 100%;
    flex: 1;
    padding: 10px;
    padding-bottom: 0px;
    opacity: 0;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    background-color: rgb(250,250,250);
    border-top-left-radius: 5px;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.editorMenuThumbnailSection {
    display: flex;
    flex-direction: row;
}

.editorMenuThumbnailSectionHalf {
    flex: 1;
    padding-right: 10px;
}

.editorMenuThumbnailSectionThumb {
    width: 100%;
    height: 180px;
    background-color: black;
}

.editorMenuCommandList {
    font-size: x-large;
    /*background: linear-gradient(to bottom, rgb(245,245,245) 50%, rgb(255,255,255) 50%);
    background-size: 100px 150px;*/
    padding-top: 10px;
    padding-right: 10px;
    flex: 1;
}

.editorMenuCommandListItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 50px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-left: 10px solid lightgray;
}

.editorMenuCommandListItemName {
    flex: 1;
    padding-left: 10px;
}

.editorMenuCommandListItemPinContainer {
    padding-left: 10px;
    padding-right: 10px;
}

.mediaBrowserHeaderContainer {
    display: flex;
    justify-content: center;
    height: 28px;
}

#editorMenuMediaBrowserFileList {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    background: rgb(250,250,250);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 2px solid rgb(230,230,230);
    border-bottom-style: none;
    z-index: 2;
}

#editorMediaBrowserLocationButtonContainer {
    display: inline-block;
    float: left;
    font-size: large;
    font-weight: bold;
}

#editorMediaBrowserLocationButton {

    transition: transform 0.1s ease-in-out;
}

#editorMediaBrowserLocationButton:active {
    transform: scale(0.95);
}

#editorMediaBrowserCurrentPathContainer {
    flex: 1;
    margin-right: 20px;
    margin-left: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: large;
}

.editorMediaBrowserPathItem {
}

.editorMediaBrowserPathItemButton {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 200px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editorMediaBrowserPathItemButton:hover {
    background-color: rgb(245,245,245);
}

.editorMediaBrowserPathItemButton:active {
    background-color: black;
    color: white;
}

#editorMediaBrowserFolderControlContainer {
    display: inline-block;
    float: right;
    margin-right: 20px;
    z-index: 1;
}

.mediaBrowserFolderControl {
    font-size: large;
    background-color: rgb(250,250,250);
    border: 2px solid rgb(230,230,230);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.mediaBrowserFolderControl:hover {
    background-color: white;
}

.mediaBrowserFolderControl:active {
    background-color: black;
    color: white;
    border-color: black;
}

#editorMediaBrowserLoadingProgress {
    margin-right: 10px;
    display: none;
}

.mediaBrowserListItem {
    padding: 2px;
    display: flex;
    flex-direction: row;
    height: 50px;
    animation: mediaBrowserListItemEnter 0.3s linear;
    animation-fill-mode: both;
}

.mediaBrowserListItem:hover {
    background-color: rgb(240,240,240);
}

@keyframes mediaBrowserListItemEnter {
    0% {
        opacity: 0;
        transform: translateX(12%);
    }
    50% {
        opacity: 1;
        transform: translateX(3%);
    }
    75% {
        transform: translateX(1%);
    }
    100% {
        transform: translateX(0%);
    }
}

.mediaBrowserListItemIcon {
    /* Styling here for the icon column. */
    font-size: xx-large;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: 50px;
    color: rgba(0,0,0,0.2);
}

.mediaBrowserIconFilled {
    color: rgba(255,255,255,0.8);
    text-shadow: 0px 0px 10px black;
}

.mediaBrowserListItemMeta {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.mediaBrowserListItemRow {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.mediaBrowserListItemTitle {
    font-size: large;
}

.mediaBrowserListItemRowComponent {
    flex: 1;
}

.videoPlaybackSurface {
    background-color: black;
}

#editorMenuClickEater {
    display: none;
}

#editorMediaBrowserPreviewClickEater {
    background-color: rgba(0,0,0,0.5);
}

.editorClickEater {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    transition: background-color 0.4s ease-in-out;
    -webkit-transition: background-color 0.4s ease-in-out;
}

#topBottomSplitpointClickEater {
    cursor: ns-resize;
    background-color: rgba(0,0,0,0.5);
    transition: background-color 0.4s ease-in-out;
    -webkit-transition: background-color 0.4s ease-in-out;
}

.editorClickEaterFaded {
    pointer-events: none;
    background-color: rgba(0,0,0,0) !important;
}

.zIndexTop {
    z-index: 10000;
}

@media screen and (orientation:landscape) {
}

@media screen and (orientation:portrait) {
    .portraitHidden {
        display: none !important;
    }
}