.editor-content {
    flex: 1;
    position: relative;
}

.editor-section {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
}

.editor-section--upper {
    padding: 10px;
    top: 0;
}

.editor-section--lower {
    padding: 10px 0;
    top: 50%;
    display: flex;
    border-top: 1px solid #aaa;
    background-color: #e6e6e6;
}

.editor-canvas-container {
    display: inline-block;
    height: calc(100% - 20px);
	right: 50%;
	position: absolute;
}

.editor-canvas-container--displaced-for-widget {
	right: 75%;
}

.editor-canvas {
    background-color: #000;
    width: 100%;
    display: block;
}

.editor-playback-widget {
	display: flex;
}

.editor-playback-widget__section {
    flex: 1;
    line-height: 45px;
}

.editor-playback-widget__section:last-of-type {
    text-align: right;
}

.editor-playback-widget__section--no-flex {
    flex: none;
}