.editor-content {
    flex: 1;
    position: relative;
}

.editor-section {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
}

.editor-section--upper {
    padding: 10px 10px 0 10px;
    top: 0;
    text-align: center;
}

.editor-section--lower {
    padding: 10px 0;
    top: 50%;
}

.editor-canvas-container {
    display: inline-block;
    height: calc(100% - 50px);
}

.editor-canvas {
    background-color: #000;
    width: 100%;
}

.editor-playback-widget {
    height: 50px;
}