.eo1-list-item {
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
    height: 50px;
    display: flex;
}

.eo1-list-item__row {
    display: flex;
    width: 100%;
}

.eo1-list-item__column {
    flex-grow: 1;
}

.eo1-list-item__column:last-of-type {
    text-align: right;
}

.eo1-list-item--project-group-header {
    background-color: #e6e6e6;
    border: 1px solid #aaa;
    height: auto;
    border-left: 0;
    border-right: 0;
}

.win-listview .win-groupheader {
    padding: 0;
}

.eo1-list-item__project-thumb-container {
    width: 75px;
    padding-right: 10px;
}

.eo1-list-item__project-thumb-container img {
    max-width: 100%;
    max-height: 100%;
}

.eo1-list-item__project-details-container {
    flex-grow: 1;
}