.app-page--main-menu {
    display: flex;
    flex-direction: row;
}

.main-menu__nav-container {
    width: 56px;
    flex-shrink: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #dc143c;
}

.main-menu__content-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.main-menu__content-section--home {
    display: flex;
    flex-direction: column;
}

.main-menu__content-section--visible {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.main-menu__content-section--hidden {
    display: none;
}

.main-menu__app-logo {
    display: none;
    color: #fff;
    padding: 20px;
}

.main-menu__nav-section {
    flex: 1;
}

.main-menu__nav-section--primary {
}

.main-menu__nav-section--secondary {
    flex: none;
}

.main-menu__nav-item {
    display: block;
    color: #fff;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

.main-menu__nav-item:hover {
    color: #fff;
    background-color: #df2b4f;
}

.main-menu__nav-item:active {
    background-color: #e65a76;
}

.main-menu__nav-item--active {
    color: #dc143c;
    background-color: #fff;
}

.main-menu__nav-item--active:hover {
    color: #dc143c;
    background-color: #fff;
}

.main-menu-nav-item__label {
    display: none;
}

.home-menu__quick-start-container {
    margin: 20px 0 0 0;
}

.home-menu__quick-start-item {
    background-color: #ececec;
    position: relative;
    width: calc(50% - 10px);
    max-width: 100%;
    margin: 0 10px 20px 0;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    color: #000;
}

.home-menu__quick-start-item:hover {
    border-color: #b2b2b2;
    color: #000;
}

.home-menu__quick-start-item:after {
    content: "\E0C5";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-menu__quick-start-item--16-9:before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.home-menu__quick-start-item--4-3:before {
    content: "";
    display: block;
    padding-top: 75%;
}

.home-menu__quick-start-item--16-10:before {
    content: "";
    display: block;
    padding-top: 62.5%;
}

.home-menu__quick-start-item--239-1:before {
    content: "";
    display: block;
    padding-top: 41.84%;
}

.quick-start-item__label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.home-menu__recent-projects-listview {
    flex-grow: 1;
}


.open-menu__local-projects {
    list-style: none;
    padding: 0;
}

.open-menu__project-item {
    padding: 10px;
    cursor: pointer;
    clear: both;
    height: 50px;
    border: 1px solid transparent;
}

.open-menu__project-item:hover {
    border-color: #d3d3d3;
}

.open-menu__project-item:active {
    background-color: #ececec;
}


.open-menu__item-thumb {
    width: auto;
    height: 100%;
    background-color: #000;
    float: left;
    margin: 0 10px 0 0;
}

.settings-menu-section {
    margin: 20px 0 0 0;
}

@media screen and (min-width: 512px) {

}

@media screen and (min-width: 768px) {
    .home-menu__quick-start-item {
        width: calc(25% - 10px);
    }
}

@media screen and (min-width: 1024px) {
    .main-menu__nav-container {
        width: 240px;
    }

    .main-menu__app-logo {
        display: block;
    }

    .main-menu__nav-item {
        text-align: left;
    }

    .main-menu-nav-item__icon {
        margin-right: 1em;
    }

    .main-menu-nav-item__label {
        display: inline;
    }
}