.media-browser__preview-flyout {
    padding: 0;
}

.media-browser-preview {
    background-color: #000;
    width: 320px;
    height: auto;
    display: block;
}

.media-browser-preview--hidden {
    display: none;
}

#editorDraggedPreviewContainer {
    position: fixed;
    left: 0px;
    top: 0px;
    margin: -50px 0 0 -50px;
    pointer-events: none;
    z-index: 101;
}

#editorDraggedPreviewContent {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(200,200,200, 0.8);
    opacity: 0;
    background-size: 100% auto;
    transition: height 0.2s ease, width 0.2s ease;
}

.media-browser-dragdrop__title {
    display: none;
}

.editorDraggedPreviewContent--track {
    background: rgba(255, 255, 255, 0.75) !important;
}

.editorDraggedPreviewContent--track .media-browser-dragdrop__title {
    display: block;
}

.editorDraggedPreviewVisible #editorDraggedPreviewContent {
    opacity: 1;
    animation: editorDragPreviewEnter 0.2s ease-in-out;
}

@keyframes editorDragPreviewEnter {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.editorDraggedPreviewHidden #editorDraggedPreviewContent {
    animation: editorDragPreviewExit 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes editorDragPreviewExit {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}