/* All panels */

.editor-panel-container {
    display: none;
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
    box-sizing: border-box;
    overflow: hidden;
    border-left: 1px solid #aaa;
}

.editor-panel-container--visible {
    display: inline-block;
}

.editor-panel-container__panels {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 70px);
    height: 100%;
}

.editor-panel-container__tabs {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 100%;
    background-color: #e6e6e6;
    border-left: 1px solid #aaa;
}

.editor-panel {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
}

.editor-panel--visible {
	display: inline-block;
}

.editor-panel-tab {
    font-size:24px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #aaa;
    display: none;
}

.editor-panel-tab--visible {
    display: block;
}

.editor-panel-tab--active {
    background-color: #fff;
}

.editor-panel-close-button {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 24px;
    width: 24px;
    text-align: center;
}

/* Video recording panel */
.media-capture-preview--webcam {
    max-width: 100%;
    display: block;
    margin: auto;
    height: calc(100% - 45px);
}

.media-capture-preview--mirrored {
    transform: scaleX(-1);
}

.media-capture-controls {
    margin: auto;
    width: 425px;
    max-width: 100%;
    text-align: center;
    border-top: 0;
    position: relative;
}

.media-capture-control--settings {
    position: absolute;
    left: 0;
    top: 0;
}

.media-capture-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.media-capture-loading--visible {
    display: flex;
}

.media-capture-loading--hidden {
    display: flex;
    visibility: hidden;
}

.media-capture-loading progress {
    color: #fff;
}

.media-capture-unavailable-dialog {
    display: none;
}

.media-capture-unavailable-dialog--visible {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

/* Audio recording panel */
.media-capture-preview--mic {
    width: 100%;
    height: calc(100% - 45px);
    position: relative;
}

.media-capture-preview__mic-message {
    display: none;
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.media-capture-preview__mic-message--visible {
    display: block;
}

.media-capture-preview__mic-animation {
    display: none;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.media-capture-preview__mic-animation--visible {
    display: block;
}

/* Effect panel */
.editor-effect-column {
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    vertical-align: top;
}

.editor-effect-column:first-of-type {
    padding-right: 5px;
}

.editor-effect-column:last-of-type {
    padding-left: 5px;
}

.effect-param {
    width: 100%;
}