/* Video recording popin */
.media-capture-element--webcam {
    background-color: black;
    width: 320px;
    max-width: 100%;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.media-capture-controls {
    margin: auto;
    width: 320px;
    max-width: 100%;
    text-align: center;
    margin-top: 10px;
}

.eo1-btn--media-capture-settings {
    float: right;
}

.eo1-btn--media-capture-list {
    float: left;
}