/* All popins */

.editor-popin {
	display: none;
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    border-left: 1px solid #aaa;
}

.editor-popin--visible {
	display: inline-block;
}

/* Video recording popin */
.media-capture-preview--webcam {
    max-width: 100%;
    display: block;
    margin: auto;
    height: calc(100% - 45px);
}

.media-capture-preview--mirrored {
    transform: scaleX(-1);
}

.media-capture-controls {
    margin: auto;
    width: 425px;
    max-width: 100%;
    text-align: center;
    border-top: 0;
}

.eo1-btn--webcam-capture-settings {
    float: left;
}

.eo1-btn--show-webcam-capture-list {
    float: right;
}

.media-capture-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.media-capture-loading--visible {
    display: flex;
}

.media-capture-loading--hidden {
    display: flex;
    visibility: hidden;
}

.media-capture-loading progress {
    color: #fff;
}

.media-capture-import-dialog {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    box-sizing: border-box;
    padding: 10px;
    flex-direction: column;
}

.media-capture-import-dialog--visible {
    display: flex;
}

.media-capture-import-dialog__listview {
    flex: 1;
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid #ccc;
}

.media-capture-import-dialog__controls {
    text-align: right;
}

.media-capture-unavailable-dialog {
    display: none;
}

.media-capture-unavailable-dialog--visible {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}