.editor-timeline-controls {
    height: 50px;
    border-bottom: 1px solid #aaa;
    position: relative;
}

.editor-timeline-display {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.timeline-track-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 10000px;
    background-color: #fff;
}

.timeline-new-track-control, .timeline-drop-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #aaa;
    box-sizing: border-box;
    padding-left: 10px;
}

.timeline-new-track-control:before {
    content: "\E109";
    margin-right: 10px;
}

.timeline-new-track-control:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.timeline-new-track-control:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.timeline-drop-container {
    opacity: 0;
}

.timeline-track-container {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    height: 10000px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    background-color: #fff;
    border-left: 1px solid #aaa;
}

.timeline-zoom-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-scroll-preview {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #aaa;
}

.track-control, .track-content {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
    border-bottom: 1px solid #aaa;
    background-color: #fff;
}

.timeline-track--active {
    background-color: #f2f2f2;
}

/* Timeline cursor */

.timeline-cursor {
    height: 100%;
    position: absolute;
    top: 0;
}

.timeline-cursor--hover {
    background-color: #aaa;
    width: 1px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.timeline-cursor--hover-visible {
    opacity: 1;
}

.timeline-cursor--playback {
    background-color: #000;
    width: 2px;
}

/* Volume change flyout */

.flyout--editor-clip-volume__icon {
    line-height: 48px;
    vertical-align: top;
    font-size: 24px;
}

.clip-volume-icon--mute:after {
    content: "\E198"
}

.clip-volume-icon--low:after {
    content: "\E993"
}

.clip-volume-icon--medium:after {
    content: "\E994"
}

.clip-volume-icon--high:after {
    content: "\E995"
}

.flyout--editor-clip-volume__slider:focus {
    outline: 0;
}

.flyout--editor-clip-volume__slider::-ms-tooltip {
    display: none;
}

.flyout--editor-clip-volume__indicator {
    width: 40px;
    display: inline-block;
    font-size: 24px;
    vertical-align: top;
    line-height: 48px;
    text-align: center;
}