/* TIMELINE LAYOUT */
.timeline-button-container {
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.timeline-button-container--left {
    padding-right: 10px;
    text-align: left;
}

.timeline-button-container--right {
    padding-left: 10px;
    text-align: right;
}

.timeline-button-container__section--spacer {
    flex: 1;
}



/* TIMELINE RULER */
.timeline-ruler {
    position: relative;
    border: 2px solid #000;
    border-bottom: none;
    flex: 1;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: white;
    overflow: hidden;
    white-space: nowrap;
}

.timeline-ruler__mark {
    display: inline-block;
    margin: 25px 0 0 0;
    box-sizing: border-box;
    height: 6px;
    border-left: 1px solid #999;
    overflow: visible;
}

.timeline-ruler__mark--sub {
    height: 12px;
    border-left: 1px solid #333;
}

.timeline-ruler__mark--interval {
    height: 25px;
    border-left: 1px solid #333;
}

.timeline-ruler__mark:first-child {
    border: 0
}

.timeline-ruler__time {
    position: absolute;
    transform: translateX(-50%);
}

.timeline-ruler__inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    cursor: text;
    background-color: #fff;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}

.timeline-ruler-placeholder {
    width: 100%;
    height: 50px;
}

/* TIMELINE CLIP */
.timeline-clip {
    box-sizing: border-box;
    padding: 10px 10px 10px 0;
    border: 1px solid #dc143c;
    height: 100%;
    background-color: #eaeaea;
    position: absolute;
    top: 0px;
    overflow: hidden;
    font-size: 16px;
    transition: left 0.4s ease, width 0.4s ease;
}

.timeline-clip--hovering {
    background-color: #f4f4f4;
}

.timeline-clip--selected {
    background-color: #fff;
}

.timeline-clip--interaction-disabled {
    pointer-events: none;
}

.timeline-clip__thumb {
    background-color: #aaa;
    height: calc(100% + 20px);
    width: 100px;
    float: left;
    margin: -10px 10px 0 0;
}

.timeline-clip__icon {

}

.timeline-clip__title {

}

.timeline-clip-ghost {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #b2b2ff;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    font-weight: bold;
    animation: timelineGhostEnter 0.2s ease;
}

@keyframes timelineGhostEnter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.timeline-clip-ghost:after {
    content: "\2713";
}

.timeline-clip-ghost--collision {
    border: 2px dotted #ff0000;
    color: #ff0000;
}

.timeline-clip-ghost--collision:after {
    content: "\2717";
}

.timeline-clip-gripper {
    position: absolute;
    width: 10px;
    cursor: ew-resize;
    box-sizing: border-box;
    border: 3px solid #000;
    transition: left 0.3s ease, top 0.3s ease;
}

.timeline-clip-gripper--active {
    transition: none;
}

.timeline-clip-gripper--left {
    animation: timelineGripperLeftEnter 0.2s ease;
    border-right: 0;
}

@keyframes timelineGripperLeftEnter {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.timeline-clip-gripper--right {
    animation: timelineGripperRightEnter 0.2s ease;
    margin-left: -10px;
    border-left: 0;
}

@keyframes timelineGripperRightEnter {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.timeline__cursor {
    position: absolute;
    top: -50px;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: black;
    color: black;
    cursor: ew-resize;
    z-index: 1;
}

.timeline__drop-preview {
    position: absolute;
    background-color: rgba(255,255,255,0.85);
    border: 1px solid #b2b2b2;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    transition: top 0.2s ease;
}

.timeline__drop-preview--visible {
    display: block;
}

.timeline__drop-preview--hidden {
    display: none;
}

.editorTimelineDragPreviewFlyout {
    visibility: hidden;
    position: fixed;
    padding: 10px;
    background-color: rgba(255,255,255,0.85);
    border: 1px solid #aaa;
}

.timeline-selection-callout {
    position: absolute;
    top: 100px;
    left: 0;
    height: 40px;
    overflow: visible;
    white-space: nowrap;
    background-color: #dc143c;
    border-radius: 3px;
    margin-top: -5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: transform 0.1s ease, opacity 0.1s ease;
    z-index: 1;
}

.timeline-selection-callout:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: calc(50% - 15px);
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #dc143c transparent;
    display: block;
    width: 0;
}

.timeline-selection-callout--visible {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -100%);
    transition-duration: 0.2s;
    pointer-events: all;
}

.timeline-selection-callout--scroll-transition {
    transition: left 0.3s ease, top 0.3s ease;
}

@keyframes selectionCalloutEnter {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.selection-callout__state {
    display: none;
}

.selection-callout__state--visible {
    display: block;
}

.selection-callout__command {
    width: 40px;
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 38px;
    display: inline-block;
    padding: 0 5px;
    color: #fff;
    border: 1px solid #dc143c;
    box-sizing: border-box;
}

.selection-callout__command:hover {
    background-color: #ff5a76;
}

.selection-callout__command:active {
    background-color: #fff;
    color: #dc143c;
}

.selection-callout__command:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.selection-callout__command:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.callout-command--move-clip, .callout-command--move-track-clip {
    cursor: pointer;
}

.flyout--editor-clip-volume__icon {
    line-height: 48px;
    vertical-align: top;
    font-size: 24px;
}

.clip-volume-icon--mute:after {
    content: "\E198"
}

.clip-volume-icon--low:after {
    content: "\E993"
}

.clip-volume-icon--medium:after {
    content: "\E994"
}

.clip-volume-icon--high:after {
    content: "\E995"
}

.flyout--editor-clip-volume__slider:focus {
    outline: 0;
}

.flyout--editor-clip-volume__slider::-ms-tooltip {
    display: none;
}

.flyout--editor-clip-volume__indicator {
    width: 40px;
    display: inline-block;
    font-size: 24px;
    vertical-align: top;
    line-height: 48px;
    text-align: center;
}