.timeline-clip {
    box-sizing: border-box;
    padding: 10px 10px 10px 0;
    border: 1px solid #707070;
    height: 100%;
    background-image: url("/img/crossword--dark.png");
    position: absolute;
    top: 0px;
    overflow: hidden;
}

.timeline-clip--hovering {
    background-image: url("/img/crossword.png");
}

.timeline-clip--hovering:after {
    content: "lol hovering!";
    float: left;
}

.timeline-clip--selected {
    background-image: url("/img/crossword.png");
}

.timeline-clip--selected:after {
    content: "lol selected!";
    float: left;
    border-color: blue;
    border-radius: 3px;
}

.timeline-clip__thumb {
    background-color: #808080;
    height: calc(100% + 20px);
    width: 100px;
    float: left;
    margin: -10px 10px 0 0;
}

.timeline-clip__icon {

}

.timeline-clip__title {

}

.timeline__cursor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: black;
    color: black;
    cursor: ew-resize;
    z-index: 1;
}

.editorTimelineDragPreviewFlyout {
    visibility: hidden;
    position: fixed;
    padding: 10px;
    background-color: rgba(255,255,255,0.85);
    border: 1px solid #aaa;
}

.clip-selected-callout {
    position: fixed;
    background-color: rgba(255,255,255,0.85);
    border: 1px solid #aaa;
    top: 0;
    left: 0;
    width: 150px;
    display: flex;
    visibility: hidden;
}

.clip-selected-callout__button {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    flex: 1;
}

.clip-selected-callout__button:active {
    background-color: #000;
    color: #fff;
}